img {
    width: 100%;
}

//CON ESTADO BOOLEAN DEL COMPONENTE
/*
.portrait ion-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: burlywood;

}

.portrait ion-item::part(native) {
    background-color: aqua;
}

.landscape ion-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: yellow;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    gap: 24px;
    height: 100%;
    align-items: center;
    padding: 0px 24px;
}

.landscape ion-item {
    flex: 0 0 auto;
    width: auto;
    min-width: 250px;
    box-sizing: border-box;
}
*/

//PARA LA ORIENTACIÓN MEJOR ESTO
:host-context(.plt-desktop) ion-list {
    display: flex;
    flex-direction: column;
    align-items: center;

}

:host-context(.plt-android) {
    @media (orientation: portrait) {
        ion-list {

            display: flex;
            flex-direction: column;
            align-items: center;
            background: burlywood;

        }

        ion-item::part(native) {
            background-color: aqua;
        }
    }


}

:host-context(.plt-android) {
    @media (orientation: landscape) {
        ion-list {

            display: flex;
            flex-direction: row;
            align-items: center;
            background: yellow;
            flex-wrap: nowrap;
            overflow-x: auto;
            white-space: nowrap;
            gap: 24px;
            height: 100%;
            align-items: center;
            padding: 0px 24px;

        }

        ion-item {
            flex: 0 0 auto;
            width: auto;
            min-width: 250px;
            box-sizing: border-box;
        }
    }


}

//estilos del boton para que sólo se vean en movil
:host-context(.plt-desktop) .solo-android {
    display: none;
}

:host-context(.plt-android) .solo-android,
:host-context(.plt-ios) .solo-android {
    display: block;
}


//filtro por dimensiones
/*

@media (min-width: 768px) {
  .mi-contenedor {
    padding: 40px;
    font-size: 1.4rem;
  }
}

@media (max-width: 767px) {
  .mi-contenedor {
    padding: 16px;
    font-size: 1rem;
  }
}

/*


ion-content {
  @media (min-width: var(--ion-grid-md)) {
    // tablet o escritorio
    --padding-start: 40px;
    --padding-end: 40px;
  }

  @media (max-width: calc(var(--ion-grid-md) - 1px)) {
    // móvil 
    --padding-start: 16px;
    --padding-end: 16px;
  }
}
*/
