#map {
    width: 100%;
    height: 100%;
}


/* CONTENEDOR FLOTANTE */
#control-capas {
  position: absolute;
  bottom: 20px;     
  right: 20px;

  z-index: 50;      /* por encima del mapa */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


/* Botón principal */
#control-capas .btn-principal {
  background: #005eff;
  color: white;
  border-radius: 50px;
  padding: 10px 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 10px #00000055;
  transition: 0.2s;
}


#control-capas .btn-principal:hover {
  transform: scale(1.05);
}

/* Menú desplegable */
.menu-capas {
  margin-top: 10px;
  background: #ffffffee;
  backdrop-filter: blur(6px);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px #00000055;
  width: 120px;

  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;

  transition: 0.2s ease;
}

/* Estado abierto */
#control-capas.abierto .menu-capas {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}