#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}



//por contra, si yo tengo 
//ion-item ion-card, list, input
//si tengo shadow dom para aplicar los estilos, tengo
//que seleccionar su parte interna

ion-menu ion-item::part(native) {
  cursor: pointer;
}