<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!-- GENERAR DINÁMICAMENTE LAS OPCIONES DE MENÚ -->
       @for (item of menuItems; track item.route)
       {
        <ion-menu-toggle auto-hide="true">
          <ion-item button [routerLink]="item.route" routerLinkActive="selected" routerDirection="root">
            <ion-icon slot="start" [name]="item.icon"></ion-icon>
            <ion-label> {{item.label}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
       }
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- contenido del Home -->
  </ion-content>
</div>
